{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}
{% block page_title %}Fiche utilisateur{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <caption class="visually-hidden">
                Informations de l’utilisateur : identifiant, email, rôles, nom, prénom, préférences
            </caption>
            <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th scope="row">Rôles</th>
                <td>
                    {% if utilisateur.roles is not empty %}
                        {% for role in utilisateur.roles %}
                            <span class="badge text-bg-success me-1">{{ role }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="text-muted">Aucun</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th scope="row">Prénom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th scope="row">Préférences</th>
                <td>{{ utilisateur.preferences }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {# Boutons pour l’utilisateur connecté sur sa propre fiche #}
    {% if app.user and app.user.id == utilisateur.id %}
        <div class="d-flex flex-wrap gap-2 mt-3">
            <a href="{{ path('utilisateurs_modifier_mon_profil') }}" class="btn btn-outline-primary">
                Modifier mon profil
            </a>
            <a href="{{ path('utilisateurs_dashboard') }}" class="btn btn-outline-secondary">
                Mon tableau de bord
            </a>
        </div>
    {% endif %}

    {# Actions admin #}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="{{ path('utilisateurs_dashboard') }}" class="btn btn-secondary">
                Retour au tableau de bord
            </a>
            <a href="{{ path('utilisateurs_modifier', { id: utilisateur.id }) }}" class="btn btn-primary">
                Modifier
            </a>
            {# S’assure que le partial envoie sur utilisateurs_supprimer (POST) avec token #}
            {{ include('utilisateur/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
